TMDB_API_KEY=your_tmdb_key
OMDB_API_KEY=your_omdb_key
PUBLIC_URL=https://dc.example.com
DOMAIN=dc.example.com
TRAEFIK_CERTRESOLVER=dns-cloudflare
IMAGE_NAME=ghcr.io/cyb3rgh05t/addon-dc
IMAGE_TAG=latest
